<!-- <p>counter works!</p> -->
<button (click)="likeIncrement()" mat-stroked-button>👍 {{ like }}</button>
<button (click)="dislikeIncrement()" mat-stroked-button>
  👎 {{ dislike }}
</button>

<!-- <label for="file">File progress:</label> -->

<!-- <progress max="100" value="{{ (like / (like + dislike)) * 100 }}">70%</progress> -->
<!-- or -->
<!-- <progress max="{{ like + dislike }}" value="{{ like }}">70%</progress> -->
<!-- or -->

<!-- <progress [max]="like + dislike" [value]="like">70%</progress>
@if( like -dislike > 10;){
<p>YOu're Awesome</p>
} -->
