<!-- <div class="container">
  <img src="{{ imageurl }}" alt="imageeee " />
  <p>
    Hello <span>{{ title }}</span>
  </p>
</div> -->
<!-- <div class="main">
  <app-user
    name="rishika"
    imageurl="https://e0.pxfuel.com/wallpapers/618/134/desktop-wallpaper-whatsapp-d-p-cute-baby.jpg"
  />
  <app-user
    name="manu"
    imageurl="https://e0.pxfuel.com/wallpapers/618/134/desktop-wallpaper-whatsapp-d-p-cute-baby.jpg"
  />
  <app-user
    name="teja"
    imageurl="https://e0.pxfuel.com/wallpapers/618/134/desktop-wallpaper-whatsapp-d-p-cute-baby.jpg"
  />
  <app-user />
</div> -->

<!-- @for(user of users; track user.id){
<app-user name="{{ user.name }}" imageurl="{{ user.imageurl }}" />
}  -->

<!-- calling the component -->

<!-- <app-movies
  name="RRR"
  poster="https://englishtribuneimages.blob.core.windows.net/gallary-content/2021/6/Desk/2021_6$largeimg_977224513.JPG"
  rating="8.8"
  summary="RRR is an upcoming Indian Telugu-language period action
  drama film directed by S. S. Rajamouli, and produced by D. V. V. Danayya of
  DVV Entertainments."

 <app-movies
  name="Vikram"
  poster="https://m.media-amazon.com/images/M/MV5BMmJhYTYxMGEtNjQ5NS00MWZiLWEwN2ItYjJmMWE2YTU1YWYxXkEyXkFqcGdeQXVyMTEzNzg0Mjkx._V1_.jpg"
  rating=" 8.4"
  summary="Members of a black ops team must track and eliminate a
gang of masked murderers." -->

<div class="main"><app-movielist [movielist]="movies"></app-movielist></div>

<app-counter />
<app-color-game />
