// .main{
//     display:flex;
// }
// body{
//     display:flex;
   
//     // flex-direction: row;
// }
.main-container{
    height:600px;
    width:300px;
    place-content: center;
    padding-bottom: 100px;
   
}

img{
    object-fit: cover;
    height:450px;
    width:300px;
    border-radius: 20px;
}
.container{
    display:flex;
    justify-content: space-between;
}
.main-container p{
    margin:0;
}