<!-- <p>movies works!</p> -->
<!-- <div class="main">
  <div class="main-container">
    <img src="{{ poster }}" alt="{{ name }}" />
    <div class="container">
      <h5>{{ name }}</h5>
      <h5>⭐{{ rating }}</h5>
    </div>
    <div class="summary">
      <button (click)="summaryy()" mat-stroked-button>summary</button>
      @if(show){

      <p>{{ summary }}</p>
      <br />
      }
    </div>
    <button routerLink="/movies/{{ id }}">info</button>
  </div>
  <div class="buttons">
    <app-counter />
    <button (click)="delete()" mat-stroked-button>Delete</button>
  </div>
</div> -->

<mat-card class="movie-container">
  <img src="{{ poster }}" alt="{{ name }}" class="movie-poster" />
  <mat-card-content>
    <div class="movie-spec">
      <h2 class="movie-title">
        {{ name }}
        <button
          mat-icon-button
          aria-label="Toggle summary"
          (click)="summaryy()"
        >
          <mat-icon>{{
            show ? "keyboard_arrow_up" : "keyboard_arrow_down"
          }}</mat-icon>
        </button>

        <button
          mat-icon-button
          aria-label="Details of movie"
          routerLink="/movies/{{ id }}"
        >
          <mat-icon>info</mat-icon>
        </button>

        <button
          mat-icon-button
          aria-label="edit of movie"
          routerLink="/movies/edit/{{ id }}"
        >
          <mat-icon>edit</mat-icon>
        </button>
      </h2>
      <p class="movie-rating">⭐ {{ rating }}</p>
    </div>

    @if(show){
    <p class="movie-summary">{{ summary }}</p>
    }

    <div class="action-buttons-container">
      <app-counter />
      <button
        mat-icon-button
        aria-label="Delete movie"
        color="warn"
        (click)="delete()"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </mat-card-content>
</mat-card>
