<!-- <p>movie-details works!</p> -->
@if(isLoading){
<h1>Loading...</h1>
} @if(movie){
<div class="main">
  <div class="main-container">
    <iframe
      width="914"
      height="514"
      [src]="trustedUrl"
      title="bahubali"
      frameborder="0"
      allowfullscreen
    ></iframe>
    <!-- <img src="{{ movielist.trailer }}" alt="{{ movielist.name }}" /> -->
    <div class="container">
      <h5>{{ movielist.name }}</h5>
      <h5>⭐{{ movielist.rating }}</h5>
    </div>

    <p>{{ movielist.summary }}</p>
    <br />
  </div>
</div>
}
<h1>{{ msg }}</h1>
<!-- <app-counter /> -->
