<div class="add-movie-form">
  <input type="text" [(ngModel)]="poster" placeholder="poster" />
  <input type="text" [(ngModel)]="name" placeholder="name" />

  <input type="number" [(ngModel)]="rating" placeholder="rating" />
  <input type="text" [(ngModel)]="summary" placeholder="summary" />
  />
  <button (click)="addMovie()">addmovie</button>
</div>
<!-- 
<div class="main">
  @for (movie of movielist; track movie.id){ -->
<!-- <app-movies
    poster="{{ movie.poster }}"
    name="{{ movie.name }}"
    rating="{{ movie.rating }}"
    summary="{{ movie.summary }}"
  /> -->
<!-- } -->
<!-- </div> -->

@for (movie of movielist; track $index){ poster="{{ movie.poster }}" name="{{
  movie.name
}}" rating="{{ movie.rating }}" summary="{{ movie.summary }}

}
