<!-- <div class="add-movie-form">
  <mat-form-field>
    <input matInput type="text" [(ngModel)]="poster" placeholder="poster" />
  </mat-form-field>

  <mat-form-field>
     <mat-label>Name</mat-label> -->
<!-- <input matInput [(ngModel)]="name" placeholder="name" />
  </mat-form-field>

  <mat-form-field>
    <input matInput type="number" [(ngModel)]="rating" placeholder="rating" />
  </mat-form-field>
  <mat-form-field>
    <input matInput type="text" [(ngModel)]="summary" placeholder="summary" />
  </mat-form-field>
  <button (click)="addMovie()" mat-stroked-button>addmovie</button><br /><br />
</div> -->

<!-- <mat-form-field>
  <mat-label>Name</mat-label>
  <input matInput place-holder="Name" [(ngModel)]="name" />
</mat-form-field> -->
<!-- <mat-form-field>
  <mat-label>Name</mat-label>
  <input matInput place-holder="Name" [(ngModel)]="name" />
</mat-form-field> -->
<!-- 
<div class="main">
  @for (movie of movielist; track movie.id){ -->
<!-- <app-movies
    poster="{{ movie.poster }}"
    name="{{ movie.name }}"
    rating="{{ movie.rating }}"
    summary="{{ movie.summary }}"
  /> -->
<!-- } -->
<!-- </div> -->

<app-add-movie [movieadd]="movielist" />

<div class="main">
  @if(isLoading){
  <h3>loading</h3>
  } @for (movie of movielist; track $index){
  <app-movies
    [id]="movie.id"
    [name]="movie.name"
    [poster]="movie.poster"
    [rating]="movie.rating"
    [summary]="movie.summary"
    [Index]="$index"
    (deleteMovieEvent)="deleteMovieP($event)"
  />
  }
</div>
